<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="rcp.e4.sample.preference"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="applicationCSS"
               value="platform:/plugin/rcp.e4.sample.preference/css/default.css">
         </property>
         <property
               name="appName"
               value="rcp.e4.sample.preference">
         </property>
      </product>
   </extension>

</plugin>
